.popup__button {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, .2);
  margin-top: 33px;
  color: rgba(0, 0, 0, .2);
  font-size: 36px;
}

[id="profile-form"] .popup__button {
  font-size: 18px;
  line-height: 22px;
}

[id="addCardForm"]:valid .popup__button {
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
}

[id="profile-form"]:valid .popup__button {
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
}